sudo: required
dist: trusty
language: go

go:
  - "1.10"

addons:
  apt:
    packages:
      - libtext-unidecode-perl
env:
  global:
    - WIRESHARK_MANUF_URL='https://code.wireshark.org/review/gitweb?p=wireshark.git;a=blob_plain;f=manuf;hb=HEAD'

jobs:
  include:
    - stage: 'Test'
      script:
        - go test -v .
        - git log --graph
    - stage: 'Update Check'
      if: type = cron
      script:
        - git checkout master
        - curl "$WIRESHARK_MANUF_URL" > /tmp/manuf
        - scripts/oui-convert.pl /tmp/manuf > ouidata.go
        - go test -v .
        - openssl aes-256-cbc -K $encrypted_c32425b2d492_key -iv $encrypted_c32425b2d492_iv -in id_rsa.enc -out $HOME/.ssh/id_rsa -d
        - chmod 600 $HOME/.ssh/id_rsa
        - scripts/push-if-updated.sh ouidata.go
